/ {
	ftl {
		compatible = "zephyr,ftl-dhara";
		partition = <&data_partition>;
		disk-name = "DATA";
		buffer-size = <DT_SIZE_K(2)>;
		gc-ratio = <15>;
	};

	fstab {
		compatible = "zephyr,fstab";

		data {
			compatible = "zephyr,fstab,fatfs";
			mount-point = "/data:";
			automount;
			disk-access;
		};
	};
};

/delete-node/ &storage_partition;
&flash0 {
	reg = <0x00000000 DT_SIZE_M(65)>;
	erase-block-size = <DT_SIZE_K(16)>;
	write-block-size = <DT_SIZE_K(2)>;

	partitions {
		data_partition: partition@100000 {
			label = "data";
			reg = <0x00100000 DT_SIZE_M(64)>;
		};
	};
};
